.attribution { font-size: 11px; text-align: center; margin-bottom: 1rem}
.attribution a { color: hsl(228, 45%, 44%); }

@import url(https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap);

/* COLORS */
$cyan-600: #4D96A9;
$cyan-300: #8FE3F9;
$purple-600: #855FB1;
$purple-300: #D9B8FF;

$slate-900: #28283D;
$slate-600: #87879D;
$slate-300: #D1D1DF;
$white: #FAFAFA;
/* COLORS */

* {
    font-family: "Red Hat Display", sans-serif;
    box-sizing: border-box;
}


@mixin set-text-preset($size: 1rem, $weight: 900, $height: 110%, $spacing: 0) {
    
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
    letter-spacing: $spacing;
}

@mixin text-preset-1() {
    @include set-text-preset($size: 4rem);
    color: $slate-900;  
}

@mixin text-preset-2() {
    @include set-text-preset($size: 2.5rem);
    color: $slate-900;
}

@mixin text-preset-3() {
    @include set-text-preset($spacing: 0.25rem);
    color: $cyan-600;
    text-transform: uppercase;
}

@mixin text-preset-4() {
    @include set-text-preset($size: 1.125rem, $weight: 500, $height: 150%);
    color: $slate-600;
}

@mixin text-preset-5() {
    @include set-text-preset();
    color: $slate-900;
}


.t1 {
    @include text-preset-1()
}

.t2 {
    @include text-preset-2()
}

.t3 {
    @include text-preset-3()
}

.t4 {
    @include text-preset-4()
}

.t5 {
    @include text-preset-5()
}

@mixin button($padding, $bg-color, $color) {
    padding: $padding;
    background: $bg-color;
    color: $color;
    border: none;
    border-radius: 1.8125rem;
}

.button-blue {
    @include button(1rem 2.5rem, $cyan-600, $white)
}

.button-purple {
     @include button(1rem 2.5rem, $purple-600, $white)
}

html {
    overflow-x: hidden;
}

body {
    margin: 0;
}

.logo-top {
    height: clamp(4.75rem, 2rem + 5.5vw, 6.75rem);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    & img {
        margin: 0 auto;
    }
}

  /*--------*/
 /* HEADER */
/*--------*/

header {
    // width: 100vw;
    min-height: 30.5rem;
    // margin-left: -2vw;
    padding: 4rem 0;
    // margin: 0;
    overflow: hidden;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .img1 {
        align-self: flex-start;
        margin-left: -2vw;
    }

    & .img2 {
        align-self: flex-end;
        margin-right: -2vw;
    }

    & div {
        max-width: 28rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 2rem;

        & > * {
            margin: 0;
        }

        & h1.t1 {
            font-size: clamp(3rem, 4vw + 1rem, 4rem);
            max-width: 10ch;
        }

        & p.t4 {
            
            font-size: clamp(1rem, 1vw + 0.5rem, 1.125rem);
            padding: 0 clamp(0rem, 4.7075rem - 10.77vw, 2.1875rem);
            
        }
    }

}

@media screen and (max-width: 1200px) {
    header {
        flex-direction: column;
        
        justify-content: center;
        
        row-gap: clamp(3rem, 1.269rem + 7.3846vw, 4.5rem);

        & .img2 {
            display: none;
        }

        & .img1 {
            content: url(/assets/tablet/image-hero.png);
            align-self: center;
            margin: 0;
            max-inline-size: 110%;
        }
    }
}

@media screen and (max-width: 700px) {
    header {
        padding-bottom: clamp(2rem, -0.3077rem + 9.846vw, 4rem);

        & div h1.t1     {
            font-size: clamp(2.5rem, 1.923rem + 2.4615vw, 3rem);
        }
    }
}

.version {
    font-weight: 500;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

@media screen and (max-width: 400px) {
    .buttons {
        flex-direction: column;
    }
}

  /*-----*/
 /* END */
/*-----*/

  /*------*/
 /* BODY */
/*------*/

body img {
    max-inline-size: 100%;
}