.attribution { font-size: 11px; text-align: center; margin-bottom: 1rem}
.attribution a { color: hsl(228, 45%, 44%); }

@import url(https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap);

/* COLORS */
$cyan-600: #4D96A9;
$cyan-300: #8FE3F9;
$purple-600: #855FB1;
$purple-300: #D9B8FF;

$slate-900: #28283D;
$slate-600: #87879D;
$slate-300: #D1D1DF;
$white: #FAFAFA;
/* COLORS */

html {
    overflow-x: hidden;
    box-sizing: border-box;
}

*, *::after, *::before {
    font-family: "Red Hat Display", sans-serif;
    box-sizing: inherit;
}


@mixin set-text-preset($size: 1rem, $weight: 900, $height: 110%, $spacing: 0) {
    
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
    letter-spacing: $spacing;
}

@mixin text-preset-1() {
    @include set-text-preset($size: 4rem);
    color: $slate-900;  
}

@mixin text-preset-2() {
    @include set-text-preset($size: 2.5rem);
    color: $slate-900;
}

@mixin text-preset-3() {
    @include set-text-preset($spacing: 0.25rem);
    color: $cyan-600;
    text-transform: uppercase;
}

@mixin text-preset-4() {
    @include set-text-preset($size: 1.125rem, $weight: 500, $height: 150%);
    color: $slate-600;
}

@mixin text-preset-5() {
    @include set-text-preset();
    color: $slate-900;
}


.t1 {
    @include text-preset-1()
}

.t2 {
    @include text-preset-2()
}

.t3 {
    @include text-preset-3()
}

.t4 {
    @include text-preset-4()
}

.t5 {
    @include text-preset-5()
}

@mixin button($padding, $bg-color, $color) {
    padding: $padding;
    background-color: $bg-color;
    color: $color;
    border: none;
    border-radius: 1.8125rem;
    text-wrap: nowrap;

    transition: background-color 0.5s;
}

.button-blue {
    @include button(1rem 2.5rem, $cyan-600, $white);

    & .version {
        color: $cyan-300;
    }
    &:hover {
        background-color: #71C0D4;
    }
}

.button-purple {
     @include button(1rem 2.5rem, $purple-600, $white);

     &:hover {
        background-color: #B18BDD;
     }
}

.number {
    width: 3.5rem;
    height: 3.5rem;
    border: 1px solid $cyan-300;
    border-radius: 50%;
    color: $slate-600;
    background-color: $white;

    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 80px 0 0 0;

    position: relative;

    &::before {
        content: "";
        width: 1px;
        height: 80px;
        border: 1px solid $slate-300;

        position: absolute;
        top: 0;
        transform-origin: top;
        transform: scale(-1);
    }

}

body {
    margin: 0;
}

.logo-top {
    height: clamp(4.75rem, 2rem + 5.5vw, 6.75rem);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    & img {
        margin: 0 auto;
    }
}

  /*--------*/
 /* HEADER */
/*--------*/

header {
    // width: 100vw;
    min-height: 30.5rem;
    // margin-left: -2vw;
    padding: 4rem 0;
    // margin: 0;
    overflow: hidden;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .img1 {
        align-self: flex-start;
        margin-left: -2vw;
    }

    & .img2 {
        align-self: flex-end;
        margin-right: -2vw;
    }

    & div {
        max-width: 28rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 2rem;

        & > * {
            margin: 0;
        }

        & h1.t1 {
            font-size: clamp(3rem, 4vw + 1rem, 4rem);
            max-width: 10ch;
        }

        & p.t4 {
            
            font-size: clamp(1rem, 1vw + 0.5rem, 1.125rem);
            padding: 0 clamp(0rem, 4.7075rem - 10.77vw, 2.1875rem);
            
        }
    }

}

@media screen and (max-width: 1200px) {
    header {
        flex-direction: column;
        
        justify-content: center;
        
        row-gap: clamp(3rem, 1.269rem + 7.3846vw, 4.5rem);

        & .img2 {
            display: none;
        }

        & .img1 {
            content: url(/assets/tablet/image-hero.png);
            align-self: center;
            margin: 0;
            max-inline-size: 110%;
        }
    }
}

@media screen and (max-width: 700px) {
    header {
        padding-bottom: clamp(2rem, -0.3077rem + 9.846vw, 4rem);

        & div h1.t1     {
            font-size: clamp(2.5rem, 1.923rem + 2.4615vw, 3rem);
        }
    }
}

.version {
    font-weight: 500;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

@media screen and (max-width: 400px) {
    .buttons {
        flex-direction: column;
    }
}

  /*-----*/
 /* END */
/*-----*/

  /*------*/
 /* MAIN */
/*------*/


main {
    margin-top: clamp(2rem, 0.5687rem + 6.1vw, 3.5rem);
    margin-bottom: clamp(4rem, 3.42857rem + 1.19vw, 4.5rem);
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 4rem;

}

.image-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: clamp(1.5rem, 0.9286rem + 1.19vw,2rem);

    // max-width: 42.5rem;

    // transition: flex-wrap 0.5s ease-in-out;

    & img {
        max-width: clamp(10rem, 3.14286rem + 14.2857vw, 16rem);
        border-radius: 0.5rem;
        // max-width: 100%;
        }
}

.text-block {
    max-width: clamp(31.5rem, 28.642rem + 5.952vw, 34rem);
    text-align: center;

    & p.t3 {
        font-size: clamp(0.875rem, 0.732rem + 0.2976vw, 1rem);
    }

    & h2 {
        box-sizing: content-box;
        max-width: 15ch;
        margin: 1rem auto 2rem auto;
        text-align: center;

        font-size: clamp(2rem, 1.42857rem + 1.19vw,2.5rem);
    }

    & p.t4 {
        font-size: clamp(1rem, 0.8571rem + 0.2976vw, 1.125rem);
    }
}

@media screen and (max-width: 768px) {
    .image-row {

        gap: clamp(1rem, 0.5229rem + 2.0356vw, 1.5rem);
        
        & img {
            max-width: clamp(9.21875rem, 8.4733rem + 3.18066vw, 10rem);
        }
    }

    .text-block  {
        & p.t3 {
            font-size: clamp(0.75rem, 0.6307rem + 0.5089vw, 0.875rem);
        }

        & h2 {
            max-width: 14ch;
        }

        & p.t4 {
        margin: 0 clamp(0rem, 3.908rem - 8.14249vw, 2rem);
        }
    }
}

  /*-----*/
 /* END */
/*-----*/


  /*--------*/
 /* FOOTER */
/*--------*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .number {
        margin-bottom: -1.75rem;
    }
}

.green-bg {
    width: 100%;
    // background-image: url("/assets/desktop/image-footer.jpg");
    background-size: cover;
    background-position: center;

    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: clamp(4rem, 0.571rem + 7.1428vw, 7rem) clamp(8.25rem, 6.25rem + 4.1666vw, 10rem);
    

    & h2 {
        max-width: 27.8125rem;
    }
    & p.t4 {
        max-width: 22.1875rem;
        margin: 0 1rem;
    }

    & span {
        color: $purple-300;
    }
    
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
        background-image: url("/assets/desktop/image-footer.jpg");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: $cyan-600;
        opacity: 90%;
        width: 100%;
        height: 100%;
    }

    & * {
        color: $white;
        margin: 0;
    }

    & .attribution {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        margin: 0 0 0.5rem 0;

        & a {
            color: #c1cbf0;
        }
    }

    
}

@media screen and (max-width: 1100px) {
    .green-bg {
        flex-direction: column;
        gap: 1.5rem;
        padding: 4rem clamp(2rem,  0.0916rem + 8.14249vw, 4rem);

        text-align: center;

        & h2, p.t4 {
            max-width: none;
        }

        & h2 {
            font-size: clamp(2rem,  1.761rem + 1.0178vw, 2.25rem);
        }

        & p.t4 {
            font-size: 1rem;
            margin: 0;
        }

        &::before {
            background-image: url("/assets/tablet/image-footer.jpg");
        }
    }
}